<!-- renders the account of the client and their current policy -->

{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
<div>
<h1>
Hello, { myinfo.name }!
</h1>
</div>
<div>
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Date of Birth</th>
                <th class="text-start">Email</th>
                <th class="text-start">Country of Origin</th>
                <th class="text-start">Smoking Status</th>
                <th class="text-start">Customer Status</th>
            </tr>
            <tbody>
                {% for infor in myinfo %}
                    <tr>
                        <td>
                            {{ infor.name }}
                        </td>
                         <td>
                            {{ infor.gender }}
                        </td>
                        <td>
                            {{ infor.dob}}
                        </td>
                        <td>
                            {{ infor.email }}
                        </td>
                        <td>
                            {{ infor.country}}
                        </td>
                        <td>
                            {{ infor.smoking_status}}
                        </td>
                        <td>
                            {{ infor.customer_status}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    </div>
</main>
{% endblock %}
