<!-- renders the account of the client and their current policy -->

{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <div>
        <h1>
            Hello, {{ myinfo.name }}!
        </h1>
    </div>
    <div>
        <p>Gender: {{ myinfo.gender }}</p>
        <p>Date of Birth: {{ myinfo.dob }}</p>
        <p>Email: {{ myinfo.email }}</p>
        <p>Country of Origin: {{ myinfo.country }}</p>
        <p>Smoking Status: {{ myinfo.smoking_status }}</p>
    </div>
    <hr>
    <div>
        <form action="/" method="post">
            <div class="input-group mb-3">
                <input type="text" autocomplete="off" class="form-control" aria-label="Name" aria-describedby="Name" id="name" name="name" type="text" value="Policy Name">
              </div>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" aria-label="Recipient's email" aria-describedby="emailS" id="email" name="email" autocomplete="off">
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="Term" name="term" aria-label="Policy Term">
                  <option selected>Choose length of policy term: </option>
                  <option value="1">5</option>
                  <option value="2">10</option>
                  <option value="3">15</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="type" name="type" aria-label="Policy Type">
                  <option selected>Choose policy type: </option>
                  <option value="1">Life</option>
                  <option value="2">Medical</option>
                </select>
              </div>
              
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" aria-label="Premium Payment (to the nearest dollar)" id="premiumpayment" name="premiumpayment" autocomplete="off">
                <span class="input-group-text">HKD</span>
              </div>
              <div class="input-group mb-3">
                <input type="text" autocomplete="off" class="form-control" aria-label="Description" aria-describedby="Description" id="desc" name="desc" type="text" value="Policy Description"">
              </div>
              <div class="input-group mb-3">
                <input type="text" autocomplete="off" class="form-control" aria-label="Premium Structure" aria-describedby="Structure of Premium" id="premiumstructure" name="premiumstructure" type="text" value="Structure of Premium"">
              </div>

            <div class="mb-3">
                <button class="btn btn-primary" data-toggle="button" type="submit">Buy</button>
            </div>
        </form>
    </div>
    <script>
        function policy_name() {
          var val_term = document.getElementById("term").value;
          var val_type = document.getElementById("type").value;
          document.getElementById("name").innerHTML = 'policy' + 'val_type + '_' + val_term;
        }
    </script>
</main>
{% endblock %}
