<!-- renders the account of the client and their current policy -->

{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
           {% for message in messages %}
                <p class=alert-success>{{ message }}</p>
           {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <body>
        <h1>
            Hello, {{ myinfo.name }}!
        </h1>
    </body>
    <script>
        function GetCookie(name) {
            var arg=name+"=";
            var alen=arg.length;
            var clen=document.cookie.length;
            var i=0;
            while (i<clen) {
            var j=i+alen;
            if (document.cookie.substring(i,j)==arg)
            return "here";
            i=document.cookie.indexOf(" ",i)+1;
            if (i==0) break;
        }
        return null;
        }

        var visit=GetCookie("COOKIE1");
        if (visit==null){
            var expire=new Date();
            window.name = "newuser";
            newuser=open("templates/newuser.html", "dispwin",
            "width=450,height=455,scrollbars=yes,menubar=no");
            expire=new Date(expire.getTime()+7776000000);
            document.cookie="COOKIE1=here; expires="+expire;
        }

    </script>
    <p>Please find your registered information below.</p>
    </div>
    <div>
        <p>Gender: {{ myinfo.gender }}</p>
        <p>Date of Birth: {{ myinfo.dob }}</p>
        <p>Email: {{ myinfo.email }}</p>
        <p>Country of Origin: {{ myinfo.country }}</p>
        <p>Smoking Status: {{ myinfo.smoking_status }}</p>
    </div>
    <hr>
    <br>
    <div>
        <h1>New Policy</h1>
        <p>Fill in your desired policy information below for approval.</p>
    </div>
    <div>
        <form action="/" method="post">
            <div class="input-group mb-3">
                <input type="text" autocomplete="off" class="form-control" aria-label="Name" aria-describedby="Name" id="name" name="name" type="text" value="Policy Name">
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="Term" name="term" aria-label="Policy Term">
                  <option selected>Choose length of policy term: </option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
                    <span class="input-group-text">Years</span>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="ctype" name="ctype" aria-label="Policy Type">
                  <option selected>Choose policy type: </option>
                  <option value="Life">Life</option>
                  <option value="Medical">Medical</option>
                </select>
              </div>
              
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" aria-label="Premium Payment (to the nearest dollar)" id="premiumpayment" name="premiumpayment" autocomplete="off">
                <span class="input-group-text">HKD</span>
              </div>
              <div class="input-group mb-3 white-text">
                  <span><strong>Policy Description:  </strong></span>
                  <p style="padding-left: 5px" name="policydescription"> {{policy_description}} </p>
              </div>
              <div class="input-group mb-3 white-text">
                  <span><strong>Premium Structure:  </strong></span>
                  <p style="padding-left: 5px" name="premiumstructure"> {{premium_structure}} </p>
              </div>

            <div class="mb-3">
                <button class="btn btn-primary btn-lg" data-toggle="button" type="submit">Buy</button>
            </div>
        </form>
    </div>

</main>
{% endblock %}
