{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main class="text-centered">
    <div class="wrap-contact100">
        <span class="contact100-form-title">
    <form action="/login" method="post" class="contact100-form validate-form">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    
                    <div class="card px-5 py-5" id="form1">
                        <h2> Log In </h2>
                        <br>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" size="50" aria-describedby="emailS" id="email" name="email" autocomplete="off">
                        <div class="input-group mb-3">
                            <small id="emailS" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <button class="btn btn-secondary w-100"" type="submit">Log In</button>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
    </form>
</div>
</div>
</form>
</span>
</div>
</main>
{% endblock %}

   