{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="emailS" id="email" name="email" autocomplete="off">
            <br>
            <small id="emailS" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    
        <button class="btn btn-primary btn-lg" type="submit">Log In</button>
    </div>
    </form>
{% endblock %}
